.u-section-1 {
  background-image: url("images/grey_back_ground.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1476px;
}

.u-section-1 .u-image-1 {
  width: 738px;
  height: 199px;
  margin: 80px auto 0;
}

.u-section-1 .u-image-2 {
  width: 614px;
  height: 770px;
  margin: 61px auto 0;
}

.u-section-1 .u-image-3 {
  width: 816px;
  height: 158px;
  object-position: 50% 100%;
  margin: 80px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1217px;
  }

  .u-section-1 .u-image-2 {
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 908px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 194px;
  }

  .u-section-1 .u-image-3 {
    width: 720px;
    height: 139px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 567px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 146px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 677px;
  }

  .u-section-1 .u-image-3 {
    width: 540px;
    height: 104px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 683px;
  }

  .u-section-1 .u-image-1 {
    width: 269px;
    height: 70px;
    margin-top: 45px;
  }

  .u-section-1 .u-image-2 {
    height: 426px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-3 {
    height: 52px;
    width: 258px;
    margin-top: 25px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 812px;
}

.u-section-2 .u-image-1 {
  width: 822px;
  height: 620px;
  margin: 96px auto 0 47px;
}

.u-section-2 .u-image-2 {
  width: 157px;
  height: 223px;
  margin: -716px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 793px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 77px;
  }

  .u-section-2 .u-image-2 {
    width: 109px;
    height: 91px;
    margin-top: -697px;
    margin-right: 71px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 631px;
  }

  .u-section-2 .u-image-1 {
    height: 512px;
    width: 677px;
    margin-top: 60px;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    margin-top: -571px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 567px;
  }

  .u-section-2 .u-image-1 {
    height: 408px;
    margin-top: 66px;
    width: 540px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -489px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 369px;
  }

  .u-section-2 .u-image-1 {
    height: 257px;
    margin-top: 52px;
    width: 340px;
  }

  .u-section-2 .u-image-2 {
    width: 54px;
    height: 75px;
    margin-top: -309px;
  }
}.u-section-3 {
  background-image: url("images/grey_back_ground.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 802px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 16px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 822px;
  margin-top: 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 498px;
  height: 67px;
  margin: 50px 180px 0 462px;
}

.u-section-3 .u-image-2 {
  width: 712px;
  height: 562px;
  margin: 50px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 816px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
    margin-bottom: 60px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 678px;
  }

  .u-section-3 .u-image-1 {
    margin-right: 80px;
    margin-left: 362px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 746px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 36px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 710px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 66px;
    margin-right: 0;
    margin-left: 222px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 628px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 563px;
  }

  .u-section-3 .u-image-1 {
    width: 375px;
    height: 50px;
    margin-top: 67px;
    margin-left: 165px;
  }

  .u-section-3 .u-image-2 {
    height: 429px;
    margin-top: 50px;
    margin-bottom: -24px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 419px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 419px;
  }

  .u-section-3 .u-image-1 {
    height: 29px;
    width: 219px;
    margin-top: 52px;
    margin-left: auto;
  }

  .u-section-3 .u-image-2 {
    height: 270px;
    margin-top: 16px;
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 579px;
}

.u-section-4 .u-image-1 {
  width: 856px;
  height: 429px;
  margin: 75px auto 0 125px;
}

.u-section-4 .u-image-2 {
  width: 134px;
  height: 175px;
  margin: -503px auto 0 0;
}

.u-section-4 .u-image-3 {
  width: 125px;
  height: 175px;
  margin: -175px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 523px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 115px;
    margin-left: 84px;
  }

  .u-section-4 .u-image-2 {
    width: 95px;
    height: 124px;
    margin-top: -447px;
  }

  .u-section-4 .u-image-3 {
    width: 89px;
    height: 124px;
    margin-top: -124px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-4 .u-image-1 {
    height: 209px;
    width: 514px;
    margin-top: 86px;
    margin-left: 0;
  }

  .u-section-4 .u-image-2 {
    margin-top: -294px;
  }

  .u-section-4 .u-image-3 {
    height: 125px;
    margin-left: 631px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 335px;
  }

  .u-section-4 .u-image-1 {
    width: 459px;
    height: 187px;
    margin-top: 74px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -261px;
  }

  .u-section-4 .u-image-3 {
    margin-left: 451px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 225px;
  }

  .u-section-4 .u-image-1 {
    height: 164px;
    margin-top: 30px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-2 {
    width: 45px;
    height: 51px;
    margin-top: -195px;
  }

  .u-section-4 .u-image-3 {
    width: 51px;
    height: 51px;
    margin-top: -51px;
    margin-left: auto;
  }
}.u-section-5 {
  background-image: url("images/grey_back_ground.jpeg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 2922px;
}

.u-section-5 .u-image-1 {
  width: 255px;
  height: 62px;
  margin: 82px auto 0 443px;
}

.u-section-5 .u-image-2 {
  height: 549px;
  object-position: 70.21% 100%;
  width: 754px;
  margin: 128px auto 0 0;
}

.u-section-5 .u-image-3 {
  width: 371px;
  height: 549px;
  margin: -549px 0 0 auto;
}

.u-section-5 .u-image-4 {
  width: 554px;
  height: 858px;
  margin: 15px auto 0 0;
}

.u-section-5 .u-image-5 {
  width: 570px;
  height: 858px;
  margin: -858px 0 0 auto;
}

.u-section-5 .u-image-6 {
  width: 375px;
  height: 549px;
  object-position: 50% 0%;
  margin: 15px 376px 0 auto;
}

.u-section-5 .u-image-7 {
  width: 360px;
  height: 547px;
  margin: -548px 0 0 auto;
}

.u-section-5 .u-image-8 {
  width: 375px;
  height: 549px;
  margin: -548px auto 0 0;
}

.u-section-5 .u-image-9 {
  width: 570px;
  height: 549px;
  object-position: 100% 100%;
  margin: 15px auto 0 0;
}

.u-section-5 .u-image-10 {
  height: 549px;
  object-position: 47.68% 0%;
  width: 553px;
  margin: -549px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2374px;
  }

  .u-section-5 .u-image-1 {
    width: 199px;
    height: 48px;
    margin-top: 109px;
    margin-left: auto;
  }

  .u-section-5 .u-image-2 {
    height: 435px;
    width: 608px;
    margin-top: 93px;
  }

  .u-section-5 .u-image-3 {
    width: 312px;
    height: 442px;
    margin-top: -435px;
  }

  .u-section-5 .u-image-4 {
    width: 470px;
    height: 601px;
    margin-top: 13px;
  }

  .u-section-5 .u-image-5 {
    width: 450px;
    height: 601px;
    margin-top: -593px;
  }

  .u-section-5 .u-image-6 {
    width: 298px;
    height: 468px;
    margin-top: 13px;
    margin-right: auto;
    margin-left: 314px;
  }

  .u-section-5 .u-image-7 {
    width: 312px;
    height: 468px;
    margin-top: -468px;
  }

  .u-section-5 .u-image-8 {
    width: 298px;
    height: 468px;
    margin-top: -468px;
  }

  .u-section-5 .u-image-9 {
    width: 470px;
    height: 438px;
    margin-top: 20px;
  }

  .u-section-5 .u-image-10 {
    height: 435px;
    width: 455px;
    margin-top: -438px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1920px;
  }

  .u-section-5 .u-image-1 {
    width: 182px;
    height: 44px;
    margin-top: 97px;
  }

  .u-section-5 .u-image-2 {
    height: 421px;
    width: 475px;
    margin-top: 26px;
  }

  .u-section-5 .u-image-3 {
    width: 230px;
    height: 421px;
    margin-top: -421px;
  }

  .u-section-5 .u-image-4 {
    width: 349px;
    height: 418px;
    margin-top: 15px;
  }

  .u-section-5 .u-image-5 {
    width: 355px;
    height: 418px;
    margin-top: -418px;
  }

  .u-section-5 .u-image-6 {
    width: 230px;
    height: 421px;
    margin-top: 15px;
    margin-left: auto;
  }

  .u-section-5 .u-image-7 {
    width: 230px;
    height: 421px;
    margin-top: -421px;
  }

  .u-section-5 .u-image-8 {
    width: 230px;
    height: 421px;
    margin-top: -421px;
  }

  .u-section-5 .u-image-9 {
    width: 349px;
    height: 353px;
    margin-top: 19px;
  }

  .u-section-5 .u-image-10 {
    height: 357px;
    width: 360px;
    margin-top: -357px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1415px;
  }

  .u-section-5 .u-image-1 {
    width: 168px;
    height: 41px;
    margin-top: 103px;
  }

  .u-section-5 .u-image-2 {
    height: 279px;
    width: 345px;
    margin-top: 75px;
  }

  .u-section-5 .u-image-3 {
    width: 180px;
    height: 279px;
    margin-top: -279px;
  }

  .u-section-5 .u-image-4 {
    width: 255px;
    height: 279px;
  }

  .u-section-5 .u-image-5 {
    width: 270px;
    height: 279px;
    margin-top: -279px;
  }

  .u-section-5 .u-image-6 {
    width: 172px;
    height: 279px;
  }

  .u-section-5 .u-image-7 {
    width: 172px;
    height: 271px;
    margin-top: -279px;
  }

  .u-section-5 .u-image-8 {
    width: 172px;
    height: 271px;
    margin-top: -271px;
  }

  .u-section-5 .u-image-9 {
    width: 270px;
    height: 279px;
    margin-top: 23px;
  }

  .u-section-5 .u-image-10 {
    height: 274px;
    width: 255px;
    margin-top: -279px;
    margin-bottom: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 905px;
  }

  .u-section-5 .u-image-1 {
    width: 95px;
    height: 23px;
    margin-top: 68px;
  }

  .u-section-5 .u-image-2 {
    height: 174px;
    width: 227px;
    margin-top: 53px;
  }

  .u-section-5 .u-image-3 {
    width: 109px;
    height: 174px;
    margin-top: -174px;
  }

  .u-section-5 .u-image-4 {
    width: 168px;
    height: 174px;
    margin-top: 4px;
  }

  .u-section-5 .u-image-5 {
    height: 174px;
    width: 168px;
    margin-top: -174px;
  }

  .u-section-5 .u-image-6 {
    width: 110px;
    height: 174px;
    margin-top: 4px;
  }

  .u-section-5 .u-image-7 {
    width: 110px;
    height: 174px;
    margin-top: -174px;
  }

  .u-section-5 .u-image-8 {
    width: 110px;
    height: 174px;
    margin-top: -174px;
  }

  .u-section-5 .u-image-9 {
    height: 174px;
    width: 168px;
    margin-top: 4px;
  }

  .u-section-5 .u-image-10 {
    height: 174px;
    width: 168px;
    margin: -174px auto 53px 172px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 300px;
}

.u-section-6 .u-image-1 {
  width: 250px;
  height: 43px;
  margin: 58px auto 0;
}

.u-section-6 .u-image-2 {
  width: 111px;
  height: 115px;
  margin: -101px auto 0 0;
}

.u-section-6 .u-image-3 {
  width: 111px;
  height: 115px;
  margin: -115px 0 0 auto;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 16px;
  margin-bottom: 50px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 119px;
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 18px 60px;
}

.u-section-6 .u-accordion-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-accordion-link-1 {
  background-image: none;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-6 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-6 .u-accordion-pane-1 {
  min-height: 220px;
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 9px 0;
}

.u-section-6 .u-text-1 {
  font-size: 1.125rem;
  margin: 10px auto 0 26px;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: -45px auto 0 343px;
  padding: 8px 28px;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: -61px auto 0 234px;
  padding: 8px 28px;
}

.u-section-6 .u-text-2 {
  font-size: 1.125rem;
  margin: 13px auto 0 26px;
}

.u-section-6 .u-btn-3 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: -45px auto 0 343px;
  padding: 8px 28px;
}

.u-section-6 .u-btn-4 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: -61px auto 0 234px;
  padding: 8px 28px;
}

.u-section-6 .u-text-3 {
  font-size: 1.125rem;
  margin: 12px auto 0 26px;
}

.u-section-6 .u-btn-5 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: -44px auto 0 249px;
  padding: 8px 28px;
}

.u-section-6 .u-icon-6 {
  color: rgb(0, 0, 0) !important;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 119px;
  background-image: none;
}

.u-section-6 .u-container-layout-3 {
  padding: 18px 30px;
}

.u-section-6 .u-accordion-2 {
  width: 450px;
  margin: 0 auto;
}

.u-section-6 .u-accordion-link-2 {
  background-image: none;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-6 .u-icon-7 {
  height: 20px;
  width: 20px;
}

.u-section-6 .u-accordion-pane-2 {
  min-height: 229px;
  background-image: none;
}

.u-section-6 .u-container-layout-4 {
  padding: 17px 0;
}

.u-section-6 .u-text-4 {
  font-size: 1.125rem;
  margin: 0 auto 0 26px;
}

.u-section-6 .u-btn-6 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: -44px auto 0 343px;
  padding: 8px 28px;
}

.u-section-6 .u-btn-7 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: -61px auto 0 234px;
  padding: 8px 28px;
}

.u-section-6 .u-text-5 {
  font-size: 1.125rem;
  margin: 13px auto 0 26px;
}

.u-section-6 .u-btn-8 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: -45px auto 0 234px;
  padding: 8px 28px;
}

.u-section-6 .u-btn-9 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: -60px auto 0 344px;
  padding: 8px 28px;
}

.u-section-6 .u-text-6 {
  font-size: 1.125rem;
  margin: 12px auto 0 26px;
}

.u-section-6 .u-btn-10 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: -42px auto 0 254px;
  padding: 8px 28px;
}

.u-section-6 .u-icon-12 {
  color: rgb(0, 0, 0) !important;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 303px;
  }

  .u-section-6 .u-image-1 {
    width: 186px;
    height: 32px;
    margin-top: 61px;
  }

  .u-section-6 .u-image-2 {
    margin-top: -92px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 98px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-accordion-pane-1 {
    height: auto;
  }

  .u-section-6 .u-text-1 {
    margin-left: 56px;
  }

  .u-section-6 .u-btn-1 {
    margin-left: 273px;
  }

  .u-section-6 .u-btn-2 {
    margin-left: auto;
  }

  .u-section-6 .u-text-2 {
    margin-left: 56px;
  }

  .u-section-6 .u-btn-3 {
    margin-left: 273px;
  }

  .u-section-6 .u-btn-4 {
    margin-left: auto;
  }

  .u-section-6 .u-text-3 {
    margin-left: 56px;
  }

  .u-section-6 .u-btn-5 {
    margin-left: 179px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 98px;
  }

  .u-section-6 .u-accordion-2 {
    width: 410px;
  }

  .u-section-6 .u-accordion-pane-2 {
    height: auto;
  }

  .u-section-6 .u-btn-6 {
    margin-left: 303px;
  }

  .u-section-6 .u-btn-7 {
    margin-left: 194px;
  }

  .u-section-6 .u-btn-8 {
    margin-left: 194px;
  }

  .u-section-6 .u-btn-9 {
    margin-left: 304px;
  }

  .u-section-6 .u-btn-10 {
    margin-left: 214px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 259px;
  }

  .u-section-6 .u-image-1 {
    width: 166px;
    height: 33px;
    margin-top: 55px;
  }

  .u-section-6 .u-image-2 {
    width: 74px;
    height: 77px;
    margin-top: -88px;
  }

  .u-section-6 .u-image-3 {
    width: 74px;
    height: 77px;
    margin-top: -77px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-icon-1 {
    color: rgb(153, 153, 153);
  }

  .u-section-6 .u-text-1 {
    margin-left: 26px;
  }

  .u-section-6 .u-btn-1 {
    margin-left: 193px;
  }

  .u-section-6 .u-btn-2 {
    margin-left: 84px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 26px;
  }

  .u-section-6 .u-btn-3 {
    margin-left: 193px;
  }

  .u-section-6 .u-btn-4 {
    margin-left: 84px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 26px;
  }

  .u-section-6 .u-btn-5 {
    margin-left: 99px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-accordion-2 {
    width: 300px;
  }

  .u-section-6 .u-icon-7 {
    color: rgb(153, 153, 153);
  }

  .u-section-6 .u-btn-6 {
    margin-left: 193px;
  }

  .u-section-6 .u-btn-7 {
    margin-left: 84px;
  }

  .u-section-6 .u-btn-8 {
    margin-left: 84px;
  }

  .u-section-6 .u-btn-9 {
    margin-left: 194px;
  }

  .u-section-6 .u-btn-10 {
    margin-left: 104px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 377px;
  }

  .u-section-6 .u-image-1 {
    width: 119px;
    height: 22px;
  }

  .u-section-6 .u-image-2 {
    margin-top: -77px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 116px;
  }

  .u-section-6 .u-btn-1 {
    margin-left: 283px;
  }

  .u-section-6 .u-btn-2 {
    margin-left: 174px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 116px;
  }

  .u-section-6 .u-btn-3 {
    margin-left: 283px;
  }

  .u-section-6 .u-btn-4 {
    margin-left: 174px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 116px;
  }

  .u-section-6 .u-btn-5 {
    margin-left: 189px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 118px;
  }

  .u-section-6 .u-accordion-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-container-layout-4 {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 116px;
  }

  .u-section-6 .u-btn-6 {
    margin-left: 283px;
  }

  .u-section-6 .u-btn-7 {
    margin-left: 174px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 116px;
  }

  .u-section-6 .u-btn-8 {
    margin-left: 174px;
  }

  .u-section-6 .u-btn-9 {
    margin-left: 284px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 116px;
  }

  .u-section-6 .u-btn-10 {
    margin-left: 194px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 752px;
  }

  .u-section-6 .u-image-1 {
    width: 113px;
    height: 19px;
    margin-top: 46px;
  }

  .u-section-6 .u-image-2 {
    width: 50px;
    height: 58px;
    margin-top: -65px;
  }

  .u-section-6 .u-image-3 {
    width: 50px;
    height: 58px;
    margin-top: -58px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 24px;
    margin-bottom: 36px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 66px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-accordion-link-1 {
    font-size: 1rem;
  }

  .u-section-6 .u-accordion-pane-1 {
    min-height: 226px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 17px;
    margin-left: 16px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: -48px;
    margin-right: 16px;
    margin-left: auto;
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-6 .u-btn-2 {
    margin-top: -62px;
    margin-right: 95px;
    margin-left: auto;
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 17px;
    margin-left: 16px;
  }

  .u-section-6 .u-btn-3 {
    margin-top: -50px;
    margin-right: 16px;
    margin-left: auto;
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-6 .u-btn-4 {
    margin-right: 95px;
    margin-left: auto;
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: 22px;
    margin-left: 16px;
  }

  .u-section-6 .u-btn-5 {
    margin-top: -49px;
    margin-right: 14px;
    margin-left: auto;
    padding-left: 22px;
    padding-right: 22px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-3 {
    padding: 0 10px;
  }

  .u-section-6 .u-accordion-link-2 {
    font-size: 1rem;
  }

  .u-section-6 .u-accordion-pane-2 {
    min-height: 236px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-top: 20px;
    margin-left: 13px;
  }

  .u-section-6 .u-btn-6 {
    margin-top: -49px;
    margin-right: 13px;
    margin-left: auto;
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-6 .u-btn-7 {
    margin-right: 92px;
    margin-left: auto;
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-6 .u-text-5 {
    width: auto;
    margin-top: 19px;
    margin-left: 13px;
  }

  .u-section-6 .u-btn-8 {
    margin-top: -49px;
    margin-right: 92px;
    margin-left: auto;
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-6 .u-btn-9 {
    margin-top: -61px;
    margin-right: 13px;
    margin-left: auto;
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-6 .u-text-6 {
    width: auto;
    margin-top: 22px;
    margin-left: 13px;
  }

  .u-section-6 .u-btn-10 {
    margin-top: -49px;
    margin-right: 13px;
    margin-left: auto;
    padding-left: 23px;
    padding-right: 23px;
  }
}.u-section-7 {
  background-image: url("images/grey_back_ground.jpeg");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 1124px;
}

.u-section-7 .u-image-1 {
  width: 348px;
  height: 49px;
  margin: 110px 383px 0 auto;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 64px;
  margin-bottom: 60px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 837px;
  margin-top: 0;
}

.u-section-7 .u-container-layout-1 {
  padding: 0;
}

.u-section-7 .u-map-1 {
  height: 414px;
  width: 689px;
  margin: 13px auto 0 13px;
}

.u-section-7 .u-image-2 {
  width: 100px;
  height: 100px;
  margin: -183px auto 0 988px;
}

.u-section-7 .u-image-3 {
  width: 100px;
  height: 100px;
  margin: -100px auto 0 734px;
}

.u-section-7 .u-image-4 {
  width: 100px;
  height: 100px;
  margin: -100px auto 0 861px;
}

.u-section-7 .u-image-5 {
  width: 354px;
  height: 118px;
  margin: -231px 43px 0 auto;
}

.u-section-7 .u-image-6 {
  width: 665px;
  height: 273px;
  margin: 277px auto 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 889px;
  }

  .u-section-7 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 676px;
  }

  .u-section-7 .u-image-2 {
    margin-left: 840px;
  }

  .u-section-7 .u-image-4 {
    margin-left: 840px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1064px;
  }

  .u-section-7 .u-image-1 {
    margin-top: 123px;
    margin-right: auto;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 51px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 578px;
  }

  .u-section-7 .u-image-2 {
    margin-left: 620px;
  }

  .u-section-7 .u-image-3 {
    margin-left: 620px;
  }

  .u-section-7 .u-image-4 {
    margin-left: 620px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 588px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 470px;
  }

  .u-section-7 .u-map-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-7 .u-image-2 {
    margin-left: 440px;
  }

  .u-section-7 .u-image-3 {
    margin-left: 440px;
  }

  .u-section-7 .u-image-4 {
    margin-left: 440px;
  }

  .u-section-7 .u-image-6 {
    width: 540px;
    height: 221px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 936px;
  }

  .u-section-7 .u-image-1 {
    width: 192px;
    height: 36px;
    margin-top: 54px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 37px;
    margin-bottom: 31px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 778px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-7 .u-map-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-image-2 {
    width: 75px;
    height: 75px;
    margin-top: 109px;
    margin-left: 234px;
  }

  .u-section-7 .u-image-3 {
    width: 75px;
    height: 75px;
    margin-top: -75px;
    margin-left: 32px;
  }

  .u-section-7 .u-image-4 {
    width: 75px;
    height: 75px;
    margin-top: -75px;
    margin-left: auto;
  }

  .u-section-7 .u-image-5 {
    height: 81px;
    width: 277px;
    margin-top: -174px;
    margin-right: auto;
  }

  .u-section-7 .u-image-6 {
    height: 132px;
    width: 321px;
    margin-top: 125px;
    margin-bottom: -15px;
  }
}