.u-section-1 {
  background-image: url("images/grey_back_ground.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1417px;
}

.u-section-1 .u-image-1 {
  width: 316px;
  height: 133px;
  margin: 89px auto 0;
}

.u-section-1 .u-image-2 {
  width: 752px;
  height: 882px;
  margin: 21px auto 0;
}

.u-section-1 .u-image-3 {
  width: 592px;
  height: 128px;
  object-position: 50% 100%;
  margin: 79px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1321px;
  }

  .u-section-1 .u-image-1 {
    width: 226px;
    height: 94px;
  }

  .u-section-1 .u-image-2 {
    background-position: 50% 50%;
    margin-top: 47px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 48px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1286px;
  }

  .u-section-1 .u-image-1 {
    width: 204px;
    height: 85px;
    margin-top: 85px;
  }

  .u-section-1 .u-image-2 {
    height: 844px;
    margin-top: 16px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-3 {
    width: 526px;
    height: 130px;
    margin-top: 74px;
    margin-bottom: 52px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1263px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 89px;
  }

  .u-section-1 .u-image-3 {
    width: 452px;
    height: 106px;
    margin-top: 64px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 686px;
  }

  .u-section-1 .u-image-1 {
    width: 118px;
    height: 49px;
    margin-top: 54px;
  }

  .u-section-1 .u-image-2 {
    height: 399px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-3 {
    height: 62px;
    width: 264px;
    margin-top: 53px;
    margin-bottom: 54px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 765px;
}

.u-section-2 .u-image-1 {
  width: 764px;
  height: 601px;
  margin: 98px auto 0;
}

.u-section-2 .u-image-2 {
  width: 157px;
  height: 200px;
  margin: -699px auto 0 0;
}

.u-section-2 .u-image-3 {
  width: 157px;
  height: 200px;
  margin: -200px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 664px;
  }

  .u-section-2 .u-image-1 {
    width: 777px;
    height: 628px;
    margin-top: 56px;
  }

  .u-section-2 .u-image-2 {
    width: 122px;
    height: 155px;
    margin-top: -684px;
  }

  .u-section-2 .u-image-3 {
    width: 112px;
    height: 155px;
    margin-top: -155px;
    margin-bottom: 446px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 529px;
  }

  .u-section-2 .u-image-1 {
    height: 461px;
    width: 620px;
    margin-top: 49px;
  }

  .u-section-2 .u-image-2 {
    width: 107px;
    height: 142px;
    margin-top: -510px;
  }

  .u-section-2 .u-image-3 {
    width: 102px;
    height: 142px;
    margin-top: -142px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 472px;
  }

  .u-section-2 .u-image-1 {
    height: 402px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-2 {
    width: 94px;
    height: 114px;
    margin-top: -451px;
  }

  .u-section-2 .u-image-3 {
    width: 88px;
    height: 114px;
    margin-top: -114px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 344px;
  }

  .u-section-2 .u-image-1 {
    height: 295px;
    width: 402px;
    margin-top: 42px;
    margin-right: auto;
    margin-left: -18px;
  }

  .u-section-2 .u-image-2 {
    width: 62px;
    height: 82px;
    margin-top: -337px;
  }

  .u-section-2 .u-image-3 {
    width: 59px;
    height: 82px;
    margin-top: -82px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 305px;
}

.u-section-3 .u-image-1 {
  width: 237px;
  height: 40px;
  margin: 40px auto 0 452px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 38px;
  margin-bottom: 20px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 167px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 18px 0;
}

.u-section-3 .u-accordion-1 {
  width: 364px;
  margin: 0 auto;
}

.u-section-3 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 20px 30px;
}

.u-section-3 .u-icon-1 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153);
}

.u-section-3 .u-accordion-pane-1 {
  min-height: 351px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.125rem;
  margin: 0 auto;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0 196px;
  padding: 8px 28px;
}

.u-section-3 .u-btn-2 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: -61px auto 0 87px;
  padding: 8px 28px;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 57px auto 0;
}

.u-section-3 .u-btn-3 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0 196px;
  padding: 8px 28px;
}

.u-section-3 .u-btn-4 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: -61px auto 0 87px;
  padding: 8px 28px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 167px;
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-accordion-2 {
  width: 364px;
  margin: 21px auto 0;
}

.u-section-3 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 20px 30px;
}

.u-section-3 .u-icon-6 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153);
}

.u-section-3 .u-accordion-pane-2 {
  min-height: 351px;
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.125rem;
  margin: 0 auto;
}

.u-section-3 .u-btn-5 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0 196px;
  padding: 8px 28px;
}

.u-section-3 .u-btn-6 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: -61px auto 0 87px;
  padding: 8px 28px;
}

.u-section-3 .u-text-4 {
  font-size: 1.125rem;
  margin: 57px auto 0;
}

.u-section-3 .u-btn-7 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 20px auto 0 196px;
  padding: 8px 28px;
}

.u-section-3 .u-btn-8 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: -61px auto 0 87px;
  padding: 8px 28px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 276px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 43px;
    margin-left: auto;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 35px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 138px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 138px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 259px;
  }

  .u-section-3 .u-image-1 {
    width: 179px;
    height: 36px;
    margin-top: 42px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 31px;
    margin-bottom: 31px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 131px;
  }

  .u-section-3 .u-accordion-1 {
    width: 342px;
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 192px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 83px;
  }

  .u-section-3 .u-btn-3 {
    margin-left: 192px;
  }

  .u-section-3 .u-btn-4 {
    margin-left: 83px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 131px;
  }

  .u-section-3 .u-accordion-2 {
    width: 342px;
    margin-top: 18px;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 47px;
  }

  .u-section-3 .u-btn-5 {
    margin-top: 19px;
    margin-left: 194px;
  }

  .u-section-3 .u-btn-6 {
    margin-left: 85px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 58px;
  }

  .u-section-3 .u-btn-7 {
    margin-top: 19px;
    margin-left: 194px;
  }

  .u-section-3 .u-btn-8 {
    margin-left: 85px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 365px;
  }

  .u-section-3 .u-image-1 {
    width: 144px;
    height: 29px;
    margin-top: 40px;
    margin-left: 187px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 29px;
    margin-bottom: 28px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 118px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-accordion-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 47px;
    margin-right: 106px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 254px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 145px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: 106px;
  }

  .u-section-3 .u-btn-3 {
    margin-left: 254px;
  }

  .u-section-3 .u-btn-4 {
    margin-left: 145px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 121px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-accordion-2 {
    margin-top: 19px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-btn-5 {
    margin-top: 20px;
    margin-left: 254px;
  }

  .u-section-3 .u-btn-6 {
    margin-left: 145px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 57px;
  }

  .u-section-3 .u-btn-7 {
    margin-top: 20px;
    margin-left: 254px;
  }

  .u-section-3 .u-btn-8 {
    margin-left: 145px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 273px;
  }

  .u-section-3 .u-image-1 {
    width: 109px;
    height: 22px;
    margin-top: 31px;
    margin-left: auto;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 9px;
    margin-bottom: 16px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 103px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-accordion-link-1 {
    font-size: 1rem;
  }

  .u-section-3 .u-accordion-pane-1 {
    min-height: 288px;
    height: auto;
  }

  .u-section-3 .u-text-1 {
    width: 255px;
    margin-top: 30px;
    margin-right: auto;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 19px;
    margin-left: 184px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 75px;
  }

  .u-section-3 .u-text-2 {
    width: 253px;
    margin-top: 30px;
    margin-right: auto;
  }

  .u-section-3 .u-btn-3 {
    margin-top: 17px;
    margin-left: 184px;
  }

  .u-section-3 .u-btn-4 {
    margin-left: 75px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 90px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-accordion-2 {
    margin-top: 4px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-accordion-link-2 {
    font-size: 1rem;
  }

  .u-section-3 .u-accordion-pane-2 {
    min-height: 311px;
    height: auto;
  }

  .u-section-3 .u-btn-5 {
    margin-top: 19px;
    margin-left: 184px;
  }

  .u-section-3 .u-btn-6 {
    margin-left: 75px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 35px;
  }

  .u-section-3 .u-btn-7 {
    margin-top: 17px;
    margin-left: 184px;
  }

  .u-section-3 .u-btn-8 {
    margin-left: 75px;
  }
}.u-section-4 {
  background-image: url("images/grey_back_ground.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 979px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 20px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 959px;
  margin-top: 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-4 .u-image-1 {
  width: 503px;
  height: 69px;
  margin: 117px 151px 0 auto;
}

.u-section-4 .u-image-2 {
  width: 809px;
  height: 562px;
  margin: 65px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 814px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 791px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 0;
    margin-right: 53px;
  }

  .u-section-4 .u-image-2 {
    width: 805px;
    height: 558px;
    margin-top: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 768px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 58px;
    margin-bottom: 58px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 652px;
  }

  .u-section-4 .u-image-1 {
    width: 364px;
    height: 50px;
    margin-top: 8px;
  }

  .u-section-4 .u-image-2 {
    width: 599px;
    height: 417px;
    margin-top: 53px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 46px;
    margin-bottom: 46px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 509px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-image-1 {
    width: 310px;
    height: 43px;
    margin-top: 33px;
    margin-right: 0;
    margin-left: 230px;
  }

  .u-section-4 .u-image-2 {
    height: 341px;
    width: 490px;
    margin-top: 33px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 392px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 36px;
    margin-bottom: 36px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 320px;
  }

  .u-section-4 .u-image-1 {
    width: 220px;
    height: 32px;
    margin-top: 8px;
    margin-left: auto;
  }

  .u-section-4 .u-image-2 {
    height: 236px;
    margin-top: 43px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 516px;
}

.u-section-5 .u-image-1 {
  width: 134px;
  height: 175px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-image-2 {
  width: 134px;
  height: 175px;
  margin: -175px 0 0 auto;
}

.u-section-5 .u-image-3 {
  width: 335px;
  height: 156px;
  margin: -48px auto 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 57px;
  margin-bottom: 57px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 145px;
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 18px 0 19px;
}

.u-section-5 .u-accordion-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 20px 30px;
}

.u-section-5 .u-icon-1 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-5 .u-accordion-pane-1 {
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-custom-html-1 {
  min-height: 96px;
  margin: -22px 0 0 339px;
}

.u-section-5 .u-text-1 {
  font-size: 1.125rem;
  margin: -27px 295px 0 33px;
}

.u-section-5 .u-custom-html-2 {
  min-height: 95px;
  height: auto;
  margin: 106px 5px 0 77px;
}

.u-section-5 .u-text-2 {
  font-size: 1.125rem;
  width: auto;
  margin: -94px 18px 0;
}

.u-section-5 .u-layout-cell-2 {
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 0;
}

.u-section-5 .u-accordion-2 {
  margin-top: 17px;
  margin-bottom: 0;
}

.u-section-5 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 20px 30px;
}

.u-section-5 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-5 .u-accordion-pane-2 {
  min-height: 249px;
  background-image: none;
}

.u-section-5 .u-container-layout-4 {
  padding: 0;
}

.u-section-5 .u-custom-html-3 {
  min-height: 96px;
  margin: 42px 0 0 339px;
}

.u-section-5 .u-custom-html-4 {
  min-height: 96px;
  margin: -165px 0 0 339px;
}

.u-section-5 .u-text-3 {
  font-size: 1.125rem;
  margin: -27px auto 0 33px;
}

.u-section-5 .u-text-4 {
  font-size: 1.125rem;
  margin: 8px auto 0 33px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 491px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 120px;
  }

  .u-section-5 .u-icon-1 {
    color: rgb(255, 255, 255);
  }

  .u-section-5 .u-accordion-pane-1 {
    height: auto;
  }

  .u-section-5 .u-custom-html-1 {
    height: auto;
    margin-right: -14px;
    margin-left: 253px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: -28px;
    margin-right: 186px;
    margin-left: 42px;
  }

  .u-section-5 .u-icon-2 {
    color: rgb(153, 153, 153);
  }

  .u-section-5 .u-accordion-pane-2 {
    height: auto;
  }

  .u-section-5 .u-custom-html-3 {
    height: auto;
    margin-top: 76px;
    margin-right: -18px;
    margin-left: 257px;
  }

  .u-section-5 .u-custom-html-4 {
    height: auto;
    margin-top: -221px;
    margin-right: -18px;
    margin-left: 257px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: -29px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: 9px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 434px;
  }

  .u-section-5 .u-image-1 {
    width: 109px;
    height: 142px;
  }

  .u-section-5 .u-image-2 {
    width: 108px;
    height: 141px;
    margin-top: -142px;
  }

  .u-section-5 .u-image-3 {
    width: 271px;
    height: 126px;
    margin-top: -14px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 34px;
    margin-bottom: 34px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-accordion-link-1 {
    font-size: 1.25rem;
  }

  .u-section-5 .u-custom-html-1 {
    margin-top: 43px;
    margin-left: 65px;
    margin-right: 65px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -137px;
    margin-right: 84px;
    margin-left: 34px;
  }

  .u-section-5 .u-accordion-link-2 {
    font-size: 1.25rem;
  }

  .u-section-5 .u-accordion-pane-2 {
    min-height: 366px;
  }

  .u-section-5 .u-custom-html-3 {
    margin-top: 172px;
    margin-right: 50px;
    margin-left: 79px;
  }

  .u-section-5 .u-custom-html-4 {
    margin-top: -223px;
    margin-right: 50px;
    margin-left: 79px;
  }

  .u-section-5 .u-text-3 {
    margin-top: -170px;
    margin-left: 35px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 105px;
    margin-left: 34px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 571px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 143px;
  }

  .u-section-5 .u-container-layout-1 {
    padding: 0 30px;
  }

  .u-section-5 .u-accordion-1 {
    margin-top: 38px;
    margin-bottom: -19px;
  }

  .u-section-5 .u-custom-html-1 {
    margin-top: -23px;
    margin-right: 16px;
    margin-left: 248px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -57px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-accordion-2 {
    margin-top: 0;
  }

  .u-section-5 .u-custom-html-3 {
    margin-top: 68px;
    margin-right: -113px;
    margin-left: 242px;
  }

  .u-section-5 .u-custom-html-4 {
    margin-top: -187px;
    margin-right: -113px;
    margin-left: 242px;
  }

  .u-section-5 .u-text-3 {
    margin-top: -57px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 34px;
    margin-left: 35px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 349px;
  }

  .u-section-5 .u-image-1 {
    width: 61px;
    height: 79px;
    margin-top: 1px;
  }

  .u-section-5 .u-image-2 {
    width: 61px;
    height: 79px;
    margin-top: -79px;
  }

  .u-section-5 .u-image-3 {
    width: 156px;
    height: 81px;
    margin-top: -22px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 17px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 74px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-accordion-1 {
    margin-top: 15px;
    margin-bottom: 0;
  }

  .u-section-5 .u-accordion-link-1 {
    font-size: 1rem;
  }

  .u-section-5 .u-accordion-pane-1 {
    min-height: 295px;
  }

  .u-section-5 .u-custom-html-1 {
    min-height: 95px;
    margin-top: 8px;
    margin-right: 5px;
    margin-left: 77px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -94px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-5 .u-custom-html-2 {
    margin-top: 78px;
    margin-right: 6px;
    margin-left: 76px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 19px;
    margin-left: 17px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 109px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-accordion-2 {
    margin-top: 21px;
  }

  .u-section-5 .u-accordion-link-2 {
    font-size: 1rem;
  }

  .u-section-5 .u-accordion-pane-2 {
    min-height: 295px;
  }

  .u-section-5 .u-custom-html-3 {
    margin-top: 145px;
    margin-right: 5px;
    margin-left: 80px;
  }

  .u-section-5 .u-custom-html-4 {
    margin-top: -258px;
    margin-right: 5px;
    margin-left: 80px;
  }

  .u-section-5 .u-text-3 {
    margin-top: -97px;
    margin-right: 14px;
    margin-left: 21px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 115px;
    margin-right: 14px;
    margin-left: 21px;
  }
}.u-section-6 {
  background-image: url("images/grey_back_ground.jpeg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 2922px;
}

.u-section-6 .u-image-1 {
  width: 255px;
  height: 62px;
  margin: 82px auto 0 443px;
}

.u-section-6 .u-image-2 {
  height: 549px;
  object-position: 70.21% 100%;
  width: 754px;
  margin: 128px auto 0 0;
}

.u-section-6 .u-image-3 {
  width: 371px;
  height: 549px;
  margin: -549px 0 0 auto;
}

.u-section-6 .u-image-4 {
  width: 554px;
  height: 858px;
  margin: 15px auto 0 0;
}

.u-section-6 .u-image-5 {
  width: 570px;
  height: 858px;
  margin: -858px 0 0 auto;
}

.u-section-6 .u-image-6 {
  width: 375px;
  height: 549px;
  object-position: 50% 0%;
  margin: 15px 376px 0 auto;
}

.u-section-6 .u-image-7 {
  width: 360px;
  height: 547px;
  margin: -548px 0 0 auto;
}

.u-section-6 .u-image-8 {
  width: 375px;
  height: 549px;
  margin: -548px auto 0 0;
}

.u-section-6 .u-image-9 {
  width: 570px;
  height: 549px;
  object-position: 100% 100%;
  margin: 15px auto 0 0;
}

.u-section-6 .u-image-10 {
  height: 549px;
  object-position: 47.68% 0%;
  width: 553px;
  margin: -549px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2374px;
  }

  .u-section-6 .u-image-1 {
    width: 199px;
    height: 48px;
    margin-top: 109px;
    margin-left: auto;
  }

  .u-section-6 .u-image-2 {
    height: 435px;
    width: 608px;
    margin-top: 93px;
  }

  .u-section-6 .u-image-3 {
    width: 312px;
    height: 442px;
    margin-top: -435px;
  }

  .u-section-6 .u-image-4 {
    width: 470px;
    height: 601px;
    margin-top: 13px;
  }

  .u-section-6 .u-image-5 {
    width: 450px;
    height: 601px;
    margin-top: -593px;
  }

  .u-section-6 .u-image-6 {
    width: 298px;
    height: 468px;
    margin-top: 13px;
    margin-right: auto;
    margin-left: 314px;
  }

  .u-section-6 .u-image-7 {
    width: 312px;
    height: 468px;
    margin-top: -468px;
  }

  .u-section-6 .u-image-8 {
    width: 298px;
    height: 468px;
    margin-top: -468px;
  }

  .u-section-6 .u-image-9 {
    width: 470px;
    height: 438px;
    margin-top: 20px;
  }

  .u-section-6 .u-image-10 {
    height: 435px;
    width: 455px;
    margin-top: -438px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1920px;
  }

  .u-section-6 .u-image-1 {
    width: 182px;
    height: 44px;
    margin-top: 97px;
  }

  .u-section-6 .u-image-2 {
    height: 421px;
    width: 475px;
    margin-top: 26px;
  }

  .u-section-6 .u-image-3 {
    width: 230px;
    height: 421px;
    margin-top: -421px;
  }

  .u-section-6 .u-image-4 {
    width: 349px;
    height: 418px;
    margin-top: 15px;
  }

  .u-section-6 .u-image-5 {
    width: 355px;
    height: 418px;
    margin-top: -418px;
  }

  .u-section-6 .u-image-6 {
    width: 230px;
    height: 421px;
    margin-top: 15px;
    margin-left: auto;
  }

  .u-section-6 .u-image-7 {
    width: 230px;
    height: 421px;
    margin-top: -421px;
  }

  .u-section-6 .u-image-8 {
    width: 230px;
    height: 421px;
    margin-top: -421px;
  }

  .u-section-6 .u-image-9 {
    width: 349px;
    height: 353px;
    margin-top: 19px;
  }

  .u-section-6 .u-image-10 {
    height: 357px;
    width: 360px;
    margin-top: -357px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1415px;
  }

  .u-section-6 .u-image-1 {
    width: 168px;
    height: 41px;
    margin-top: 103px;
  }

  .u-section-6 .u-image-2 {
    height: 279px;
    width: 345px;
    margin-top: 75px;
  }

  .u-section-6 .u-image-3 {
    width: 180px;
    height: 279px;
    margin-top: -279px;
  }

  .u-section-6 .u-image-4 {
    width: 255px;
    height: 279px;
  }

  .u-section-6 .u-image-5 {
    width: 270px;
    height: 279px;
    margin-top: -279px;
  }

  .u-section-6 .u-image-6 {
    width: 172px;
    height: 279px;
  }

  .u-section-6 .u-image-7 {
    width: 172px;
    height: 271px;
    margin-top: -279px;
  }

  .u-section-6 .u-image-8 {
    width: 172px;
    height: 271px;
    margin-top: -271px;
  }

  .u-section-6 .u-image-9 {
    width: 270px;
    height: 279px;
    margin-top: 23px;
  }

  .u-section-6 .u-image-10 {
    height: 274px;
    width: 255px;
    margin-top: -279px;
    margin-bottom: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 905px;
  }

  .u-section-6 .u-image-1 {
    width: 95px;
    height: 23px;
    margin-top: 68px;
  }

  .u-section-6 .u-image-2 {
    height: 174px;
    width: 227px;
    margin-top: 53px;
  }

  .u-section-6 .u-image-3 {
    width: 109px;
    height: 174px;
    margin-top: -174px;
  }

  .u-section-6 .u-image-4 {
    width: 168px;
    height: 174px;
    margin-top: 4px;
  }

  .u-section-6 .u-image-5 {
    height: 174px;
    width: 168px;
    margin-top: -174px;
  }

  .u-section-6 .u-image-6 {
    width: 110px;
    height: 174px;
    margin-top: 4px;
  }

  .u-section-6 .u-image-7 {
    width: 110px;
    height: 174px;
    margin-top: -174px;
  }

  .u-section-6 .u-image-8 {
    width: 110px;
    height: 174px;
    margin-top: -174px;
  }

  .u-section-6 .u-image-9 {
    height: 174px;
    width: 168px;
    margin-top: 4px;
  }

  .u-section-6 .u-image-10 {
    height: 174px;
    width: 168px;
    margin: -174px auto 53px 172px;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 696px;
}

.u-section-7 .u-image-1 {
  width: 923px;
  height: 478px;
  margin: 118px auto 0;
}

.u-section-7 .u-image-2 {
  width: 134px;
  height: 175px;
  margin: -596px auto 0 0;
}

.u-section-7 .u-image-3 {
  width: 125px;
  height: 175px;
  margin: -175px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 527px;
  }

  .u-section-7 .u-image-1 {
    width: 802px;
    height: 410px;
    margin-top: 59px;
  }

  .u-section-7 .u-image-2 {
    width: 73px;
    height: 124px;
    margin-top: -468px;
  }

  .u-section-7 .u-image-3 {
    width: 73px;
    height: 124px;
    margin-top: -124px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 521px;
  }

  .u-section-7 .u-image-1 {
    height: 369px;
    margin-top: 93px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-image-2 {
    margin-top: -461px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 416px;
  }

  .u-section-7 .u-image-1 {
    height: 254px;
    width: 514px;
    margin-top: 92px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-image-2 {
    margin-top: -345px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 264px;
  }

  .u-section-7 .u-image-1 {
    height: 168px;
    margin-top: 48px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-image-2 {
    width: 56px;
    height: 63px;
    margin-top: -216px;
  }

  .u-section-7 .u-image-3 {
    width: 61px;
    height: 63px;
    margin-top: -63px;
  }
}.u-section-8 {
  background-image: url("images/grey_back_ground.jpeg");
  background-position: 50% 50%;
}

.u-section-8 .u-sheet-1 {
  min-height: 1338px;
}

.u-section-8 .u-image-1 {
  width: 278px;
  height: 55px;
  margin: 112px 418px 0 auto;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 56px;
  margin-bottom: 40px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 1075px;
  margin-top: 0;
}

.u-section-8 .u-container-layout-1 {
  padding: 0;
}

.u-section-8 .u-map-1 {
  height: 674px;
  width: 1114px;
  margin: 13px auto 0;
}

.u-section-8 .u-image-2 {
  width: 459px;
  height: 132px;
  margin: 42px 328px 0 auto;
}

.u-section-8 .u-image-3 {
  width: 130px;
  height: 130px;
  margin: 42px auto 0 335px;
}

.u-section-8 .u-image-4 {
  width: 130px;
  height: 130px;
  margin: -130px auto 0;
}

.u-section-8 .u-image-5 {
  width: 130px;
  height: 130px;
  margin: -130px auto 0 675px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 955px;
  }

  .u-section-8 .u-image-1 {
    width: 214px;
    height: 43px;
    margin-top: 118px;
    margin-right: auto;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: 63px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 676px;
  }

  .u-section-8 .u-map-1 {
    height: 403px;
    width: 896px;
  }

  .u-section-8 .u-image-2 {
    width: 304px;
    height: 88px;
    margin-top: 29px;
    margin-right: auto;
  }

  .u-section-8 .u-image-3 {
    width: 80px;
    height: 80px;
    margin-top: 35px;
    margin-left: 318px;
  }

  .u-section-8 .u-image-4 {
    width: 80px;
    height: 80px;
    margin-top: -80px;
  }

  .u-section-8 .u-image-5 {
    width: 80px;
    height: 80px;
    margin-top: -74px;
    margin-left: 542px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 854px;
  }

  .u-section-8 .u-image-1 {
    margin-top: 104px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: 47px;
    margin-bottom: 58px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 602px;
  }

  .u-section-8 .u-map-1 {
    height: 381px;
    width: 690px;
  }

  .u-section-8 .u-image-2 {
    width: 252px;
    height: 71px;
    margin-top: 15px;
  }

  .u-section-8 .u-image-3 {
    margin-top: 15px;
    margin-left: 207px;
  }

  .u-section-8 .u-image-5 {
    margin-top: -80px;
    margin-left: 433px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 690px;
  }

  .u-section-8 .u-image-1 {
    width: 170px;
    height: 33px;
    margin-top: 65px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: 39px;
    margin-bottom: 25px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 528px;
  }

  .u-section-8 .u-map-1 {
    height: 278px;
    width: 514px;
  }

  .u-section-8 .u-image-2 {
    width: 253px;
    height: 66px;
    margin-top: 25px;
  }

  .u-section-8 .u-image-3 {
    margin-top: 33px;
    margin-left: 122px;
  }

  .u-section-8 .u-image-5 {
    margin-left: 338px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 644px;
  }

  .u-section-8 .u-image-1 {
    width: 122px;
    height: 25px;
    margin-top: 49px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: 25px;
    position: relative;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 520px;
  }

  .u-section-8 .u-map-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-image-2 {
    height: 60px;
    width: 232px;
    margin-top: 42px;
    margin-left: 49px;
  }

  .u-section-8 .u-image-3 {
    width: 70px;
    height: 70px;
    margin-top: 32px;
    margin-right: 175px;
    margin-left: 25px;
  }

  .u-section-8 .u-image-4 {
    width: 70px;
    height: 70px;
    margin-top: -70px;
  }

  .u-section-8 .u-image-5 {
    width: 70px;
    height: 70px;
    margin-top: -70px;
    margin-right: 13px;
    margin-left: 245px;
  }
}.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}